/*TABS*/

html {
    font-size: 62.5%;
}
body {
    // background: #1169A7;
    background-image: linear-gradient(-.125turn, rgb(35, 131, 199) 0%, rgb(10, 100, 163) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h2 {
    font-size: 2rem;
}

.wrapper {
    height: 100%;
    color: #413b0e;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.5);
    width: 282px;
    height: 380px;
    position: relative;
margin: 1rem;
}

svg {
    position: relative;
    width: 230px;
    height: 230px;
    transform: rotate(-90deg);

    circle {
        // width: 100%;
        // height: 100%;

        fill: none;
        stroke: #000;
        // stroke-dashoffset: 2px;
        stroke-width: 15;
        stroke-opacity: 0.15;
        stroke-linecap: round;
    }
    circle:last-of-type {
        stroke: rgb(228, 176, 99);
        stroke-dasharray: 630px;

        stroke-dashoffset: calc(630 - (630 * (var(--percent)) / 100));
        stroke-opacity: 1;


    }


}

.percent {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    position: relative;

   .number {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translateX(-50%) translateY(-50%);

       h3 {
           font-weight: 500;
           font-size: 5rem;
           letter-spacing: .1rem;
           span {
               font-size: 3rem;
           }
       }
   }

}

.card.red svg circle:last-of-type {
    stroke: rgb(184, 19, 19);
}
.card.green svg circle:last-of-type {
    stroke: rgb(19, 184, 27);
}

@media screen and (max-width: 600px) {
    .wrapper {
        height: auto;
    }
    .card {
        // width: 100%;
    }
}